body {
	font-family: 'Bebas Neue', cursive;
	font-family: 'Roboto', sans-serif;
	color: white;
	margin: 0;
	padding: 0;
}

.large-play-btn {
	color: white;
	background-color: red;
	border: 1px solid red;
	border-radius: 5px;
	padding: 6px 20px;
}

/* NABAR NABAR NABAR NABAR NABAR NABAR NABAR NABAR NABAR NABAR NABAR NABAR */

.logo {
	color: red !important;
	font-family: 'Bebas Neue';
	font-size: 55px;
	font-weight: 700;
	letter-spacing: 1.2px;
}

.header-container {
	width: 95%;
}

/* LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE */

header {
	background-image: url("https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png");
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 3500px 0 0 0 rgba(0, 0, 0, 0.5);
	border-color: rgba(0, 0, 0, 1);
	min-height: 80vh;
	border-bottom: 6px solid #383838;
}

.landing_page {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
}

.landing_page_block {
	display: block;
	width: 40%;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}

.landing_page_h1 {
	font-size: 65px;
	font-weight: 700;
	letter-spacing: 1.2px;
	text-shadow: 5px 5px 15px 5px rgba(0,0,0,0.8);
	-webkit-text-shadow: 5px 5px 15px 5px rgba(0,0,0,0.8); 
}

.landing_page_phrase {
	margin: 20px 0 30px 0;
	font-weight: 300;
	letter-spacing: 1.2px;
	text-shadow: 5px 5px 15px 5px rgba(0,0,0,0.8);
	-webkit-text-shadow: 5px 5px 15px 5px rgba(0,0,0,0.8); 
}

.lp_box1 h5 {
	letter-spacing: 1.1px;
	font-weight: 300;
	margin-bottom: 20px;
}

.lp_box2 {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.lp_box2 .input-div{
	height: 70px;
	width: 60%;
}

.lp_box2 .button-div{
	height: 70px;
	width: 40%;
}

.lp_box2>.input-div>input {
  height: 70px;
  width: 100%;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-weight: 300;
  padding-left: 15px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.81) inset;
  -moz-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.81) inset;
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.81) inset;
}

.get_started_btn {
  height: 70px;
  width: 100%;
  font-size: 30px;
  border: none;
  border-left: 2px solid #383838;
  font-weight: 300;
  color: white;
  background-color: red;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DISPLAY CASES DISPLAY CASES DISPLAY CASES DISPLAY CASES DISPLAY CASES */

.display_case {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 45vh;
	background-color: black;
	border-bottom: 5px solid #383838;
}

.display_case_row {
	display: flex;
	justify-content: center;
	width: 60%;
	
}

.display_phrase {
	margin-top: 150px;
	width: 50%;
}

.landing_page_h2 {
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 1.2px;
	text-shadow: 5px 5px 15px 5px rgba(0,0,0,0.8);
	-webkit-text-shadow: 5px 5px 15px 5px rgba(0,0,0,0.8); 
}

.display_img {
	margin-top: 100px;
	width: 50%;
	text-align: center;
}

.display_img img{
	width: 70%;
	z-index: -5;
}

/* ASKED QUESTIONS ASKED QUESTIONS ASKED QUESTIONS ASKED QUESTIONS ASKED QUESTIONS */ 

.faq_display {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 80vh;
	background-color: black;
	border-bottom: 5px solid #383838;
}

.faq_display_row {
	display: block;
	text-align: center;
	width: 40%;
	margin-top: 70px;
}

.faq_block {
	display: flex;
	justify-content: space-between;
	padding: 16px 10px 11px 10px;
	background-color: #383838;
}

.faq {
	font-weight: 300;
	letter-spacing: 1.2px;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.footer_display {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 50vh;
	background-color: black;
	border-bottom: 5px solid #383838;
	color: grey;
	font-weight: 100;
	
}

.footer_display a {
	text-decoration: none;
	color: grey;
}

.flexing {
	display: block;
	width: 60%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.footer_display_row {
	display: flex;
	justify-content: space-evenly;
	
}

.footer_display_row ul {
	list-style-type: none;
	line-height: 2.5;
}



/* MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES */

@media screen and (max-width: 1000px) {
	.header-container {
		width: 90%;
	}
}